#statePagePlaceListContainer {
    border: 0.5px #555555 solid;
    display: none;
    height: 30%;
    width: 30%;
    opacity: 0;
    overflow: auto;
    margin-left: 5%;
}
#statePageOwnersListContainer {
    border: 0.5px #555555 solid;
    display: none;
    height: 30%;
    width: 30%;
    opacity: 0;
    overflow: auto;
    margin-left: 5%;
}
#statePageStoresListContainer {
    border: 0.5px #555555 solid;
    display: none;
    height: 30%;
    width: 30%;
    opacity: 0;
    overflow: auto;
    margin-left: 5%;
}