@charset "utf-8";
/* CSS Document by Dieter Schneider | CssTemplateHeaven.com */

/* Reset Styles (Credits to Eric Meyer: http://meyerweb.com/eric/tools/css/reset/) */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* end reset */

html {
    background: #f7f7f7;
    font-size: 100%
}

/*------------------ Site Structure ------------------*/

body {
    width: 960px;
    margin: auto;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: .875em;
    color: #666
}

#header {
    height: 160px;
    background: url(../styleimages/logo.png) no-repeat
}

#social {
    width: 133px;
    height: 26px;
    float: right;
    margin-top: 8px
}

#wraper {
    /*display: flex;*/
    /*flex-direction: row;*/
    height: auto;
}

.managementedItem {
    margin-top: 4px;
    margin-bottom: 4px;
    width: 100%;
    display: flex;
    height: 150px;
    border: 2px solid #D4D4D4;
    border-radius: 10px;
}

#content {
    padding-left: 2%;
    padding-bottom: 2%;
    height: auto;
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-bottom: 5%;
    float: right;
}

#sidebar {
    width: 20%;
    padding: 2%;
    border: 1px solid #dcdcdc;
    margin-bottom: 5%;
    position: absolute;
}

.leftManagmentContentWraper {
    display: flex;
    flex-direction: row;
    width: 60%;
}

.leftInnerManagmentContentWraper {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.rightManagmentContentWraper {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
}

.managementedItem img {
    margin-top: 3%;
    margin-left: 1%;
    width: 30%;
    height: 80%;
}

.managementedItem hr {
    width: 1px;
    height: 100%;
    margin: 0;
}

.stateExhibit {
    padding: 2%;
    margin-top: 5%;
    width: 100%;
    font-size: medium;
    border: 2px solid #D4D4D4;
    text-align: center;
}
.modifyButton {
    width: 100%;
    height: 100%;
    font-size: medium;
    margin-top: 5%;
}
.categoryExhibit {
    padding: 2%;
    width: 100%;
    margin-top: 5%;
    font-size: medium;
    border: 2px solid #D4D4D4;
    text-align: center;
}

.titleExhibit {
    padding: 1%;
    font-family: Verdana, serif;
    font-size: medium;
    text-align: center;
}

.shortAboutExhibit {
    padding: 1%;
    text-align: justify;
}

#sidebar h3, .sidebar_box {
    background: #eaeaea;
    padding: 5px 10px;
    margin-bottom: 15px;
    border: 1px solid #FFF;
    outline: 1px solid #dcdcdc;
}

/* sidebar menu */
.ex_coll1_item {
    float: left;
    width: 40%;
    margin-right: 1%;
    text-align: center;
}

.ex_image {
    margin: 10px;
}

.ex_title {
    font-family: Verdana, serif;
}

.ex_coll2_item {
    float: left;
    width: 59%;
}

.ex_top_banner {
    padding: 10px 25px 10px 25px;
    font-size: 12px;
    font-family: Arial, serif;
    background-color: cornsilk;

}

.ex_category {
    float: left;
}

.ex_state {
    float: right;
    color: darkgray;
}

.ex_about {
    margin: 30px 0 0 0;
    text-align: left;
}

p.dline {
    line-height: 1.5;
    font-family: Verdana, serif;
    font-size: 14px;
}

.navcontainer {
    width: 100%;
}

.navcontainer ul {
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
}

.small-image-gallery {
    width: 100px;;
    height: 100px;
}

.navcontainer a {
    display: block;
    padding: 10px 10px;
    width: 100%;
    background: url(../styleimages/seperator.png) repeat-x bottom;
}

.navcontainer a:link, .navlist a:visited {
    text-decoration: none;
}

.navcontainer a:hover {
    color: #000;
}

/* end sidebar menu */

#intro {
    border: 1px solid #FFF;
    clear: both;
    padding: 20px;
    font-size: 1.4em;
    line-height: 1.6em;
    margin-bottom: 44px;
    outline: 1px solid #dcdcdc;
    background: #eaeaea
}

#intro span {
    font-weight: 700
}

#intro p {
    padding: 0
}

#box_left {
    width: 300px;
    float: left;
    margin-bottom: 44px;
    text-align: justify
}

#box_right {
    width: 300px;
    float: right;
    margin-bottom: 44px;
    text-align: justify
}

#box_middle {
    margin-left: 330px;
    margin-right: 330px;
    margin-bottom: 44px;
    text-align: justify
}

#box_left h3, #box_right h3, #box_middle h3 {
    background: #eaeaea;
    font-weight: normal;
    margin-bottom: 25px;
    position: relative;
    text-transform: uppercase;
    letter-spacing: .08em;
    font-size: 1.4em;
    padding: 8px 15px;
    border: 1px solid #FFF;
    outline: 1px solid #dcdcdc;
}

#footer {
    clear: both;
    padding: 10px;
    text-align: right;
    background: url(../styleimages/seperator.png) repeat-x top;
    font-size: .8em;
    color: #a3a3a3
}

/*------------------ typography and images ------------------*/

/* global links */

a {
    text-decoration: none;
    color: #740000
}

/* text styles */

h1 {
    font-size: 2em;
    font-weight: normal;
    padding-bottom: 10px
}

h2 {
    font-size: 1.6em;
    font-weight: normal;
    padding-bottom: 6px
}

h3, h4 {
    font-size: 1.4em;
    font-weight: normal
}

h5, h6 {
    font-size: 1.2em
}

p {
    line-height: 1.4em;
    padding-bottom: 25px
}

/* images */

.more {
    float: right;
    margin-right: 10px
}

/*------------------ gallery ------------------*/
#image_container {
    margin: 10px;
    width: 150px;
    height: 200px;
    border: 1px solid #ccc !important;
}

#galeryWraper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#gallery {
    width: 90%;
    /*overflow: auto;*/
    /*margin-left: -44px;*/
    padding-bottom: 18px;
    position: static;
}

#gallery ul li {
    width: 190px;
    height: 215px;
    /*padding-top: 17px;*/
    /*padding-left: 17px;*/
    float: left;
    background: url(../styleimages/thumb_bg.png) no-repeat;
    margin-left: 3%;
    margin-bottom: 48px;
}

.center {
    margin: auto;
}

#no_gallery_found {
    width: 798;
    padding: 50px;
    margin: auto;
    background: red;
    border: 10px solid white
}

.galleryContainer {

}

#uploadPictureOrganization {
    display: flex;
    flex-direction: row;
}

.submitMargin {
    margin-top: 2%;
}

#addFormImageSubmitOrganization {
    display: flex;
    flex-direction: column-reverse;
}

/*-----------------------------------------------*/
/*---------------    Dropdown    ---------------*/
/*---------------------------------------------*/

/*
	LEVEL ONE
*/

ul.dropdown {
    position: relative;
    z-index: 2;
    margin: auto;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    height: 36px;
    background: #eaeaea;
    margin-bottom: 44px
}

ul.dropdown li {
    float: left;
    zoom: 1;
}

ul.dropdown a:hover {
    color: blue;
}

ul.dropdown a:active {
    color: #740000;
}

ul.dropdown li a {
    display: block;
    padding: 9px 20px;
    color: #222;
}

ul.dropdown li:last-child a {
    border-right: none;
}

/* Doesn't work in IE */
ul.dropdown li.hover,
ul.dropdown li:hover {
    color: #666;
    position: relative;
}

ul.dropdown li.hover a {
    color: #666;
}

/*
	LEVEL TWO
*/
ul.dropdown ul {
    width: 220px;
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    background: #eaeaea;
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb
}

ul.dropdown ul li {
    font-weight: normal;
    background: url(styleimages/dropdown.png);
    color: #000;
    border-bottom: 1px solid #dbdbdb;
    float: none;
}

/* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a {
    border-right: none;
    background: none;
    padding: 9px 8px;
    width: 100%;
    display: inline-block;
}

/*
	LEVEL THREE
*/
ul.dropdown ul ul {
    left: 100%;
    top: 0;
    z-index: 300;
    border-top: 1px solid #dbdbdb
}

ul.dropdown li:hover > ul {
    visibility: visible;
}

